.header {
	background-color: #659DBD;

	height: 5%;
	width: 100%;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
}

.navbar {
	color: #001488;
}

.bg {
	min-width: 100vh;
	min-height: 100vh;
	padding-left: 10vh;
	padding-right: 10vh;
	padding-top: 5vh;

	background-image: url("../imgs/home-backsplash.jpg");
	opacity: 0.5;
	background-size: cover;
}

.block-text {
	padding: 5px;
	max-width: 85%;
}

.block-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.block {
	padding-top: 20px;
	padding-bottom: 20px;

	display: flex;
	justify-content: space-around;


	background-color: #FFFFFFDD;
	color: #001488;
}

.resume {
	padding: 10vh;

	list-style: none;
}

.resume-image {
	max-width: 150px;
	max-height: 150px;

	border-radius: 50%;
}

.resume-panel {
	padding: 20px;
	background-color: #EFEFEFDD;
}
